*, body{
    box-sizing: border-box;
}
.app {
    position: relative;
    background-color: #FFFFFF;
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    width: 100%;
    .header {
        position: absolute;
        top: 0;
        padding: 5rem;
        width: 100vw;
        display: flex;
        flex-direction: row;
        z-index: 999;
        align-items: center;
        gap: 5rem;
        h2 {
            font-size: 48px;
        }
        span {
            border: 2px solid #F9DE4E;
            padding: 10px;
            font-size: 20px;
        }
        .noTitle {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 80vw;
            .pages {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 80%;
                gap: 1rem;
            }
            .accountButtons {
                width: 20%;
                .signUp {
                    width: 10%;
                    background-color: #F5F5F5;
                    border-radius: 15px;
                }
                .login {
                    width: 10%;
                }
            }
        }
    }
    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .detailsTop {
            position: relative;
            padding-top: 7rem;
            padding-bottom: 3rem;
            display: flex;
            flex-direction: row;
            place-content: center;
            background-color: #F9DE4E;
            width: 100vw;
            height: 35vh;
            .geometricShape {
                position: absolute;
                bottom: 0;
                width: 100%;
                img {
                    max-width: 90%;
                }
            }
            div {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: start;
                h1 {
                    width: 100%;
                    font-size: 5vw;
                    font-weight: 900;
                    margin: 4rem;
                }
                img {
                    width: 100%;
                }
            }
        }
        .invoiceDetails {
            display: flex;
            flex-direction: column;
            gap: 5rem;
            width: 100%;
            .name {
                padding: 1rem;
                h3 {
                    border: 5px solid #F9DE4E;
                    width: fit-content;
                    padding: 1rem;
                }
            }
            .dates {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 1rem;
                span {
                    width: 45vw;
                    text-align: center;
                    padding: 5px;
                }
                .creationDate {
                    border-top: 5px solid #F9DE4E;
                    border-right: 5px solid #F9DE4E;
                    border-left: 5px solid #F9DE4E;
                    border-bottom: 5px dotted #F9DE4E;
                }
                .updateDate {
                    border-top: 5px dotted #F9DE4E;
                    border-bottom: 5px dotted #F9DE4E;
                    border-right: 5px solid #F9DE4E;
                    border-left: 5px solid #F9DE4E;
                }
                .dueDate {
                    border-top: 5px dotted #F9DE4E;
                    border-right: 5px solid #F9DE4E;
                    border-left: 5px solid #F9DE4E;
                    border-bottom: 5px solid #F9DE4E;
                }
            }
            .reference {
                width: 100%;
                display: flex;
                justify-content: end;
                padding: 1rem;
                h3 {
                    border: 5px solid #F9DE4E;
                    width: fit-content;
                    padding: 1rem;
                }
            }
        }
    }
    .allDetailsCompanies {
        .detailsCompanies {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .detailsTop {
                position: relative;
                padding-top: 7rem;
                padding-bottom: 3rem;
                display: flex;
                flex-direction: row;
                place-content: center;
                background-color: #F9DE4E;
                width: 100vw;
                height: 35vh;
                .geometricShape {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    img {
                        max-width: 90%;
                    }
                }
                div {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: start;
                    h1 {
                        width: 100%;
                        font-size: 5vw;
                        font-weight: 900;
                        margin: 4rem;
                    }
                    img {
                        width: 100%;
                    }
                }
            }
            .companiesDetails {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 5rem;
                width: 80%;
                padding-top: 5rem;
                padding-bottom: 5rem;
                border-bottom: 1px solid #CDCDCD;
                
                .name {
                    position: relative;
                    width: 100%;
                    z-index: 99;
                    .color {
                        z-index: -1;
                        position: absolute;
                        bottom: -15%;
                        left: 7%;
                        background-color: #F9DE4E;
                        width: 30vw;
                        height: 5vh;
                    }
                    h3 {
                        font-weight: 900;
                        text-transform: uppercase;
                        width: fit-content;
                        font-size: 4vw;
                    }
                }
                .informations {
                    display: flex;
                    align-items: start;
                    flex-direction: column;
                    width: 100%;
                    gap: 5px;
                    span {
                        text-align: start;
                    }
                }
                
            }
            .contactPeople {
                position: relative;
                padding-top: 2rem;
                padding-bottom: 3rem;
                border-bottom: 1px solid #CDCDCD;
                width: 80%;
                    h2 {
                        font-weight: 900;
                        font-size: 4vw;
                        margin-bottom: 5rem;
                    }
                    .contacts {
                        display: flex;
                        flex-direction: row;
                        gap: 5rem;
                        padding: 1rem;
                        div {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 1rem;
                            background-color: #F5F5F5;
                            padding: 2rem;
                            border-radius: 32px;
                            box-shadow: 0px 0px 60px -29px rgba(0, 0, 0, 0.25);
                            img {
                                border-radius: 50%;
                            }
                            span {
                                font-weight: 900;
                                font-size: 2vw;
                                width: 7vw;
                            }
                        }
                    }
                    .calpin {
                        position: absolute;
                        right: -12%;
                        top: 35%;
                    }
            }
            .invoices {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img {
                    display: none;
                }
                h2 {
                    width: 85%;
                    font-size: 60px;
                    font-weight: 900;
                    margin: 3rem;
                    text-align: start;
                }
                table {
                    background-color: #FFFFFF;
                    width: 90%;
                    .heading {
                        background-color: #F9DE4E;
                        .invoiceNumber {
                            width: 20vw;
                        }
                        .creationDate {
                            width: 30vw;
                        }
                        .dueDate {
                            width: 25vw;
                        }
                        .companyName {
                            width: 15vw;
                        }
                        th {
                            text-align: start;
                            padding: 20px;
                            border: 5px solid #F9DE4E;
                            margin: 0;
                        }
                    }
                    .allInfos {
                        td {
                            padding: 20px;
                            text-align: start;
                        }
                        
                    }
                    
                }
                .allInfos:nth-child(odd){
                    background-color: #F5F5F5;
                }
            }
        }
    }
    .greeting {
        position: relative;
        padding-top: 7rem;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: row;
        place-content: center;
        background-color: #F9DE4E;
        width: 100vw;
        .geometricShape {
            position: absolute;
            bottom: 0;
            width: 100%;
            img {
                max-width: 90%;
            }
        }
        div {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: start;
            h1 {
                width: 100%;
                font-size: 5vw;
                font-weight: 900;
                margin: 4rem;
            }
            img {
                width: 100%;
            }
        }
    }
    .allInvoices {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .allInvoicesTop {
            position: relative;
            padding-top: 7rem;
            padding-bottom: 3rem;
            display: flex;
            flex-direction: row;
            place-content: center;
            background-color: #F9DE4E;
            width: 100vw;
            height: 35vh;
            .geometricShape {
                position: absolute;
                bottom: 0;
                width: 100%;
                img {
                    max-width: 90%;
                }
            }
            div {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: start;
                h1 {
                    width: 100%;
                    font-size: 5vw;
                    font-weight: 900;
                    margin: 4rem;
                }
                img {
                    width: 100%;
                }
            }
        }
        .allInvoicesTable {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                position: relative;
                width: 90%;
                z-index: 99;
                font-weight: 900;
                font-size: 48px;
                margin: 3rem;
                text-align: start;
                .colorH2 {
                    z-index: -1;
                    position: absolute;
                    bottom: 5%;
                    left: 7rem;
                    background-color: #F9DE4E;
                    width: 13rem;
                    height: 2vh;
                }
            }
            table {
                background-color: #FFFFFF;
                .heading {
                    background-color: #F9DE4E;
                    .invoiceNumber {
                        width: 15vw;
                    }
                    .creationDate {
                        width: 50vw;
                    }
                    .dueDate {
                        display: flex;
                        flex-direction: row;
                    }
                    th {
                        text-align: start;
                        border: 5px solid #F9DE4E;
                        margin: 0;
                        height: 50px;
                        img {
                            width: 15px;
                        }
                    }
                }
                .allInfos {
                    td {
                        padding: 20px;
                       
                    }
                    
                }
            }
            .allInfos:nth-child(odd){
                background-color: #F5F5F5;
            }
        }
    }
    .allContacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .allContactsTop {
            position: relative;
            padding-top: 7rem;
            padding-bottom: 3rem;
            display: flex;
            flex-direction: row;
            place-content: center;
            background-color: #F9DE4E;
            width: 100vw;
            height: 35vh;
            .geometricShape {
                position: absolute;
                bottom: 0;
                width: 100%;
                img {
                    max-width: 90%;
                }
            }
            div {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: start;
                h1 {
                    width: 100%;
                    font-size: 5vw;
                    font-weight: 900;
                    margin: 4rem;
                }
                img {
                    width: 100%;
                }
            }
        }
        .allContactsTable {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                position: relative;
                width: 90%;
                z-index: 99;
                font-weight: 900;
                font-size: 48px;
                margin: 3rem;
                text-align: start;
                .colorH2 {
                    z-index: -1;
                    position: absolute;
                    bottom: 5%;
                    left: 7rem;
                    background-color: #F9DE4E;
                    width: 13rem;
                    height: 2vh;
                }
            }
            table {
                background-color: #FFFFFF;
                .heading {
                    background-color: #F9DE4E;
                    .invoiceNumber {
                        width: 15vw;
                    }
                    .creationDate {
                        width: 50vw;
                    }
                    th {
                        text-align: start;
                        padding: 20px;
                        border: 5px solid #F9DE4E;
                        margin: 0;
                    }
                }
                .allInfos {
                    td {
                        padding: 20px;
                        text-align: start;
                    }
                    
                }
            }
            .allInfos:nth-child(odd){
                background-color: #F5F5F5;
            }
        }
    }
    .allCompanies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .allCompaniesTop {
            position: relative;
            padding-top: 7rem;
            padding-bottom: 3rem;
            display: flex;
            flex-direction: row;
            place-content: center;
            background-color: #F9DE4E;
            width: 100vw;
            height: 35vh;
            .geometricShape {
                position: absolute;
                bottom: 0;
                width: 100%;
                img {
                    max-width: 90%;
                }
            }
            div {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: start;
                h1 {
                    width: 100%;
                    font-size: 5vw;
                    font-weight: 900;
                    margin: 4rem;
                }
                img {
                    width: 100%;
                }
            }
        }
        .allCompaniesTable {
            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                position: relative;
                width: 90%;
                z-index: 99;
                font-weight: 900;
                font-size: 48px;
                margin: 3rem;
                text-align: start;
                .colorH2 {
                    z-index: -1;
                    position: absolute;
                    bottom: 5%;
                    left: 7rem;
                    background-color: #F9DE4E;
                    width: 13rem;
                    height: 2vh;
                }
            }
            table {
                background-color: #FFFFFF;
                .heading {
                    background-color: #F9DE4E;
                    .creationDate {
                        width: 50vw;
                    }
                    th {
                        text-align: start;
                        padding: 20px;
                        border: 5px solid #F9DE4E;
                        margin: 0;
                    }
                }
                .allInfos {
                    td {
                        padding: 20px;
                        text-align: start;
                    }
                    
                }
            }
            .allInfos:nth-child(odd){
                background-color: #F5F5F5;
            }
        }
    }
    .invoiceTableDiv {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        h2 {
            width: 85%;
            font-size: 60px;
            font-weight: 900;
            margin: 3rem;
            text-align: start;
        }
        table {
            background-color: #FFFFFF;
            .heading {
                background-color: #F9DE4E;
                .invoiceNumber {
                    width: 15vw;
                }
                .creationDate {
                    width: 50vw;
                }
                th {
                    text-align: start;
                    padding: 20px;
                    border: 5px solid #F9DE4E;
                    margin: 0;
                }
            }
            .allInfos {
                td {
                    padding: 20px;
                    text-align: start;
                }
                
            }
            
        }
        .allInfos:nth-child(odd){
            background-color: #F5F5F5;
        }
    }
    .contactTableDiv {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        img {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 150px;
            transform: translate(-55px, 0px) rotate(25deg);
        }
        h2 {
            width: 85%;
            font-size: 60px;
            font-weight: 900;
            margin: 3rem;
            text-align: start;
        }
        table {
            background-color: #FFFFFF;
            word-break: keep-all;
            .heading {
                background-color: #F9DE4E;
                .creationDate {
                    width: 35vw;
                }
                th {
                    text-align: start;
                    padding: 20px;
                    border: 5px solid #F9DE4E;
                    margin: 0;
                }
            }
            .allInfos {
                td {
                    padding: 20px;
                    text-align: start;
                }
                
            }
            
        }
        .allInfos:nth-child(odd){
            background-color: #F5F5F5;
        }
    }
    .companiesTableDiv {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5rem;
        img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
        h2 {
            width: 85%;
            font-size: 60px;
            font-weight: 900;
            margin: 3rem;
            text-align: start;
        }
        table {
            background-color: #FFFFFF;
            word-break: keep-all;
            .heading {
                background-color: #F9DE4E;
                .creationDate {
                    width: 45vw;
                }
                th {
                    text-align: start;
                    padding: 20px;
                    border: 5px solid #F9DE4E;
                    margin: 0;
                }
            }
            .allInfos {
                td {
                    padding: 20px;
                    text-align: start;
                }
                
            }
            
        }
        .allInfos:nth-child(odd){
            background-color: #F5F5F5;
        }
    }
    .propaganda {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .phonePropaganda {
            width: 45%;
            height: 410px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url("Rectangle 17.png");
            img {
                width: 65%;
            }
        }
        .textPropaganda {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            h1 {
                width: 55%;
                font-size: 68px;
                font-weight: 900;
            }
        }
    }
    .footerSection {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        width: 100%;
        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            .footerDiv {
                padding: 5rem 2rem 10rem 2rem ;
                display: flex;
                flex-direction: row;
                border-top: 1px solid #F9DE4E;
                border-bottom: 1px solid #7BB9FC;
                width: 80%;
                .logoFooter {
                    width: 50%;
                    span {
                        border: 5px solid #F9DE4E;
                        font-size: 48px;
                        color: #434138;
                        padding: 5px;
                    }
                }
                .infosBusiness {
                    width: 50%;
                    color: #737373;
                    font-weight: 400;
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    .socials {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                    }
                    .dual {
                        color: #737373;
                        font-weight: 400;
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;
                        .number {
                            display: flex;
                            justify-content: space-between;
                            span {
                                display: flex;
                                gap: 1rem;
                            }
                        }
                        .location {
                            span {
                                display: flex;
                                gap: 1rem;
                            }
                        }
                    }
                    
                }
            }
            .footerThings {
                font-weight: 400;
                width: 80%;
                margin: 2rem;
                font-size: 14px;
                display: flex;
                flex-direction: row;
                color: #737373;
                justify-content: space-between;
                .pagesLinks {
                    width: 60%;
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
    .loadingContainer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70vh;
        .loading {
            border: 10px solid #FFFFFF;
            border-top: 10px solid #F9DE4E;
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
    .loadingContainerInvoice {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        .loading {
            border: 10px solid #FFFFFF;
            border-top: 10px solid #F9DE4E;
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
            animation: spin 1s linear infinite;
        }
        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    }
    .dashBoardLoad {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        height: 200vh;
    }
    .dashBoard {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 200vh;
        .sideMenu {
            display: flex;
            flex-direction: column;
            width: 20%;
            .person {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 20%;
                gap: 2rem;
                img {
                    width: 6rem;
                }
            }
            .list {
                padding-top: 1rem;
                height: 75%;
                border-top: 1px solid #E0E0E0;
                border-bottom: 1px solid #E0E0E0;
                width: 98%;
                ul {
                    width: 100%;
                    li {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        font-weight: 400;
                        gap: 1rem;
                        img {
                            margin: 1rem;
                        }
                    }
                    li:focus {
                        font-weight: 600;
                        border-right: 10px solid #9698D6;
                    }
                }
            }
            .logout {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 5%;
                img {
                    position: absolute;
                    left: 5%;
                    width: 3rem;
                }
                span {
                    position: absolute;
                    right: 10%;
                    color: #9698D6; 
                }
            }
        }
        .content {
            display: flex;
            flex-direction: column;
            gap: 100px;
            align-items: center;
            width: 90%;
            border-left: 1px solid #E7E7E7; 
            background: #F5F5FB; 
            .allTables {
                display: flex;
                justify-content: center;
                flex-direction: row;
                gap: 2rem;
                width: 95%;
                
                .dashboardInvoicesTable, .dashboardContactsTable, .dashboardCompaniesTable {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column; 
                    position: relative;
                    padding: 4rem 1rem 2rem 1rem;
                    margin: 1rem;
                    width: 100%;
                    background-color: #FFFFFF;
                    h2 {
                        font-size: 18px; 
                        font-weight: 700;
                        position: absolute;
                        top: 5%;
                        left: 5%;
                        width: 90%;
                        padding: 1rem;
                        border-bottom: 1px solid #E0E0E0;
                    }
                    table {
                        width: 90%;
                        tbody {
                            tr {
                                border-top: 2rem solid transparent;
                                border-bottom: 2rem solid transparent;
                                th {
                                    font-size: 15px; 
                                    font-weight: 700;
                                    text-align: start;
                                }
                                td {
                                    font-size: 15px; 
                                    font-weight: 300;
                                    text-align: start;
                                }
                            }
                        }
                        
                    }
                }  
                .invoicesAndCompanies, .statsAndContacts {
                    width: 45%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    gap: 1rem;
                } 
                .statsDiv {
                    border-radius: 10px;
                    background: #FFF;
                    box-shadow: 0px 0px 37px -21px rgba(0, 0, 0, 0.25); 
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin: 1rem;
                    h3 {
                        width: 100%;
                        text-align: start;
                        padding: 2rem;
                        font-size: 18px; 
                        font-weight: 700; 
                    }
                    .stats {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-evenly;
                        padding: 2rem;
                        width: 90%;
                        div {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 4rem;
                            height: 4rem;
                            color: #FFFFFF;
                            font-size: 12px; 
                            font-weight: 900; 
                        }
                        .invoicesCount {
                            background-color: #4D4CAC;
                            border-radius: 50%;
                        }
                        .contactsCount {
                            background-color: #9698D6;
                            border-radius: 50%;
                        }
                        .companiesCount {
                            background-color: #FF808B;
                            border-radius: 50%;
                        }
                    }
                }
            }
            .welcomeMessage {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: center;
                width: 100%;
                color: #FFFFFF;
                .page {
                    width: 90%;
                    height: 300px;
                    padding-top: 30px;
                    color: #000000;
                    h2 {
                        font-size: 30px; 
                        font-weight: 900;
                    }
                    span {
                        font-size: 15px; 
                        font-weight: 300;
                    }
                }
                .text {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    gap: 10px;
                    padding: 3rem;
                    bottom: 0;
                    border-radius: 10px;
                    background: #9698D6; 
                    width: 90%;
                    height: 200px;
                    h2 {
                        font-size: 35px; 
                    }
                    span {
                        font-size: 15px; 
                        width: 16vw;
                    }
                }
                img {
                    position: absolute;
                    right: 10%;
                    width: 25vw;
                }
            }
            .formNewInvoice {
                width: 90%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 1rem;
                background-color: #FFFFFF;
                h3 {
                    width: 95%;
                    margin: 2rem;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid #E0E0E0;
                }
                form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 3rem;
                    width: 100%;
                    padding: 2rem;
                    
                    input {
                        width: 90%;
                        background-color: #F5F5F5;
                        border: none;
                        padding: 1rem;
                        font-size: 20px;
                    }
                    ::placeholder {
                        color: #000; 
                        font-weight: 100; 
                    }
                    button {
                        background: #9698D6; 
                        width: 90%;
                        text-align: start;
                    }
                }
            }
        }
        
    }
}
