*, body {
  box-sizing: border-box;
}

.app {
  position: relative;
  background-color: #FFFFFF;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  width: 100%;
}
.app .header {
  position: absolute;
  top: 0;
  padding: 5rem;
  width: 100vw;
  display: flex;
  flex-direction: row;
  z-index: 999;
  align-items: center;
  gap: 5rem;
}
.app .header h2 {
  font-size: 48px;
}
.app .header span {
  border: 1px solid #F9DE4E;
  padding: 10px;
  font-size: 20px;
}
.app .header .noTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
}
.app .header .noTitle .pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  gap: 1rem;
}
.app .header .noTitle .accountButtons {
  width: 20%;
}
.app .header .noTitle .accountButtons .signUp {
  background-color: #F5F5F5;
  border-radius: 15px;
  padding-right: 20px;
  padding-left: 20px;
}
.app .greeting {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  place-content: center;
  background-color: #F9DE4E;
  width: 100vw;
}
.app .greeting .geometricShape {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.app .greeting .geometricShape img {
  max-width: 90%;
}
.app .greeting div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.app .greeting div h1 {
  width: 100%;
  font-size: 5vw;
  font-weight: 900;
  margin: 4rem;
}
.app .greeting div img {
  width: 100%;
}
.app .allInvoices {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app .allInvoices .allInvoicesTop {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  place-content: center;
  background-color: #F9DE4E;
  width: 100vw;
  height: 35vh;
}
.app .allInvoices .allInvoicesTop .geometricShape {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.app .allInvoices .allInvoicesTop .geometricShape img {
  max-width: 90%;
}
.app .allInvoices .allInvoicesTop div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.app .allInvoices .allInvoicesTop div h1 {
  width: 100%;
  font-size: 5vw;
  font-weight: 900;
  margin: 4rem;
}
.app .allInvoices .allInvoicesTop div img {
  width: 100%;
}
.app .allInvoices .allInvoicesTable {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .allInvoices .allInvoicesTable h2 {
  position: relative;
  width: 90%;
  z-index: 99;
  font-weight: 900;
  font-size: 48px;
  margin: 3rem;
  text-align: start;
}
.app .allInvoices .allInvoicesTable h2 .colorH2 {
  z-index: -1;
  position: absolute;
  bottom: 5%;
  left: 7rem;
  background-color: #F9DE4E;
  width: 13rem;
  height: 2vh;
}
.app .allInvoices .allInvoicesTable table {
  background-color: #FFFFFF;
}
.app .allInvoices .allInvoicesTable table .heading {
  background-color: #F9DE4E;
}
.app .allInvoices .allInvoicesTable table .heading .invoiceNumber {
  width: 15vw;
}
.app .allInvoices .allInvoicesTable table .heading .creationDate {
  width: 50vw;
}
.app .allInvoices .allInvoicesTable table .heading th {
  text-align: start;
  padding: 20px;
  border: 5px solid #F9DE4E;
  margin: 0;
}
.app .allInvoices .allInvoicesTable table .allInfos td {
  padding: 20px;
  text-align: start;
}
.app .allInvoices .allInvoicesTable .allInfos:nth-child(odd) {
  background-color: #F5F5F5;
}
.app .allContacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app .allContacts .allContactsTop {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  place-content: center;
  background-color: #F9DE4E;
  width: 100vw;
  height: 35vh;
}
.app .allContacts .allContactsTop .geometricShape {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.app .allContacts .allContactsTop .geometricShape img {
  max-width: 90%;
}
.app .allContacts .allContactsTop div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.app .allContacts .allContactsTop div h1 {
  width: 100%;
  font-size: 5vw;
  font-weight: 900;
  margin: 4rem;
}
.app .allContacts .allContactsTop div img {
  width: 100%;
}
.app .allContacts .allContactsTable {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .allContacts .allContactsTable h2 {
  position: relative;
  width: 90%;
  z-index: 99;
  font-weight: 900;
  font-size: 48px;
  margin: 3rem;
  text-align: start;
}
.app .allContacts .allContactsTable h2 .colorH2 {
  z-index: -1;
  position: absolute;
  bottom: 5%;
  left: 7rem;
  background-color: #F9DE4E;
  width: 13rem;
  height: 2vh;
}
.app .allContacts .allContactsTable table {
  background-color: #FFFFFF;
}
.app .allContacts .allContactsTable table .heading {
  background-color: #F9DE4E;
}
.app .allContacts .allContactsTable table .heading .invoiceNumber {
  width: 15vw;
}
.app .allContacts .allContactsTable table .heading .creationDate {
  width: 50vw;
}
.app .allContacts .allContactsTable table .heading th {
  text-align: start;
  padding: 20px;
  border: 5px solid #F9DE4E;
  margin: 0;
}
.app .allContacts .allContactsTable table .allInfos td {
  padding: 20px;
  text-align: start;
}
.app .allContacts .allContactsTable .allInfos:nth-child(odd) {
  background-color: #F5F5F5;
}
.app .allCompanies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app .allCompanies .allCompaniesTop {
  position: relative;
  padding-top: 7rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: row;
  place-content: center;
  background-color: #F9DE4E;
  width: 100vw;
  height: 35vh;
}
.app .allCompanies .allCompaniesTop .geometricShape {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.app .allCompanies .allCompaniesTop .geometricShape img {
  max-width: 90%;
}
.app .allCompanies .allCompaniesTop div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
}
.app .allCompanies .allCompaniesTop div h1 {
  width: 100%;
  font-size: 5vw;
  font-weight: 900;
  margin: 4rem;
}
.app .allCompanies .allCompaniesTop div img {
  width: 100%;
}
.app .allCompanies .allCompaniesTable {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app .allCompanies .allCompaniesTable h2 {
  position: relative;
  width: 90%;
  z-index: 99;
  font-weight: 900;
  font-size: 48px;
  margin: 3rem;
  text-align: start;
}
.app .allCompanies .allCompaniesTable h2 .colorH2 {
  z-index: -1;
  position: absolute;
  bottom: 5%;
  left: 7rem;
  background-color: #F9DE4E;
  width: 13rem;
  height: 2vh;
}
.app .allCompanies .allCompaniesTable table {
  background-color: #FFFFFF;
}
.app .allCompanies .allCompaniesTable table .heading {
  background-color: #F9DE4E;
}
.app .allCompanies .allCompaniesTable table .heading .creationDate {
  width: 50vw;
}
.app .allCompanies .allCompaniesTable table .heading th {
  text-align: start;
  padding: 20px;
  border: 5px solid #F9DE4E;
  margin: 0;
}
.app .allCompanies .allCompaniesTable table .allInfos td {
  padding: 20px;
  text-align: start;
}
.app .allCompanies .allCompaniesTable .allInfos:nth-child(odd) {
  background-color: #F5F5F5;
}
.app .invoiceTableDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}
.app .invoiceTableDiv img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.app .invoiceTableDiv h2 {
  width: 85%;
  font-size: 60px;
  font-weight: 900;
  margin: 3rem;
  text-align: start;
}
.app .invoiceTableDiv table {
  background-color: #FFFFFF;
}
.app .invoiceTableDiv table .heading {
  background-color: #F9DE4E;
}
.app .invoiceTableDiv table .heading .invoiceNumber {
  width: 15vw;
}
.app .invoiceTableDiv table .heading .creationDate {
  width: 50vw;
}
.app .invoiceTableDiv table .heading th {
  text-align: start;
  padding: 20px;
  border: 5px solid #F9DE4E;
  margin: 0;
}
.app .invoiceTableDiv table .allInfos td {
  padding: 20px;
  text-align: start;
}
.app .invoiceTableDiv .allInfos:nth-child(odd) {
  background-color: #F5F5F5;
}
.app .contactTableDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}
.app .contactTableDiv img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  transform: translate(-55px, 0px) rotate(25deg);
}
.app .contactTableDiv h2 {
  width: 85%;
  font-size: 60px;
  font-weight: 900;
  margin: 3rem;
  text-align: start;
}
.app .contactTableDiv table {
  background-color: #FFFFFF;
  word-break: keep-all;
}
.app .contactTableDiv table .heading {
  background-color: #F9DE4E;
}
.app .contactTableDiv table .heading .creationDate {
  width: 35vw;
}
.app .contactTableDiv table .heading th {
  text-align: start;
  padding: 20px;
  border: 5px solid #F9DE4E;
  margin: 0;
}
.app .contactTableDiv table .allInfos td {
  padding: 20px;
  text-align: start;
}
.app .contactTableDiv .allInfos:nth-child(odd) {
  background-color: #F5F5F5;
}
.app .companiesTableDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}
.app .companiesTableDiv img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.app .companiesTableDiv h2 {
  width: 85%;
  font-size: 60px;
  font-weight: 900;
  margin: 3rem;
  text-align: start;
}
.app .companiesTableDiv table {
  background-color: #FFFFFF;
  word-break: keep-all;
}
.app .companiesTableDiv table .heading {
  background-color: #F9DE4E;
}
.app .companiesTableDiv table .heading .creationDate {
  width: 45vw;
}
.app .companiesTableDiv table .heading th {
  text-align: start;
  padding: 20px;
  border: 5px solid #F9DE4E;
  margin: 0;
}
.app .companiesTableDiv table .allInfos td {
  padding: 20px;
  text-align: start;
}
.app .companiesTableDiv .allInfos:nth-child(odd) {
  background-color: #F5F5F5;
}
.app .propaganda {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.app .propaganda .phonePropaganda {
  width: 45%;
  height: 410px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("Rectangle 17.png");
}
.app .propaganda .phonePropaganda img {
  width: 65%;
}
.app .propaganda .textPropaganda {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .propaganda .textPropaganda h1 {
  width: 55%;
  font-size: 68px;
  font-weight: 900;
}
.app .footerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  width: 100%;
}
.app .footerSection .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.app .footerSection .footer .footerDiv {
  padding: 5rem 2rem 10rem 2rem;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #F9DE4E;
  border-bottom: 1px solid #7BB9FC;
  width: 80%;
}
.app .footerSection .footer .footerDiv .logoFooter {
  width: 50%;
}
.app .footerSection .footer .footerDiv .logoFooter span {
  border: 5px solid #F9DE4E;
  font-size: 48px;
  color: #434138;
  padding: 5px;
}
.app .footerSection .footer .footerDiv .infosBusiness {
  width: 50%;
  color: #737373;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.app .footerSection .footer .footerDiv .infosBusiness .socials {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.app .footerSection .footer .footerDiv .infosBusiness .dual {
  color: #737373;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.app .footerSection .footer .footerDiv .infosBusiness .dual .number {
  display: flex;
  justify-content: space-between;
}
.app .footerSection .footer .footerDiv .infosBusiness .dual .number span {
  display: flex;
  gap: 1rem;
}
.app .footerSection .footer .footerDiv .infosBusiness .dual .location span {
  display: flex;
  gap: 1rem;
}
.app .footerSection .footer .footerThings {
  font-weight: 400;
  width: 80%;
  margin: 2rem;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  color: #737373;
  justify-content: space-between;
}
.app .footerSection .footer .footerThings .pagesLinks {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.app .loadingContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
}
.app .loadingContainer .loading {
  border: 10px solid #FFFFFF;
  border-top: 10px solid #F9DE4E;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.app .dashBoardLoad {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 150vh;
}
.app .dashBoard {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 170vh;
}
.app .dashBoard .sideMenu {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.app .dashBoard .sideMenu .person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  gap: 2rem;
}
.app .dashBoard .sideMenu .person img {
  width: 6rem;
}
.app .dashBoard .sideMenu .list {
  padding-top: 1rem;
  height: 75%;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  width: 98%;
}
.app .dashBoard .sideMenu .list ul {
  width: 100%;
}
.app .dashBoard .sideMenu .list ul li {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  font-weight: 400;
  gap: 1rem;
}
.app .dashBoard .sideMenu .list ul li img {
  margin: 1rem;
}
.app .dashBoard .sideMenu .list ul li:focus {
  font-weight: 600;
  border-right: 10px solid #9698D6;
}
.app .dashBoard .sideMenu .logout {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 5%;
}
.app .dashBoard .sideMenu .logout img {
  position: absolute;
  left: 5%;
  width: 3rem;
}
.app .dashBoard .sideMenu .logout span {
  position: absolute;
  right: 10%;
  color: #9698D6;
}
.app .dashBoard .content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  border-left: 1px solid #E7E7E7;
  background: #F5F5FB;
}
.app .dashBoard .content .allTables {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 2rem;
}
.app .dashBoard .content .allTables .dashboardInvoicesTable, .app .dashBoard .content .allTables .dashboardContactsTable, .app .dashBoard .content .allTables .dashboardCompaniesTable {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 4rem 1rem 2rem 1rem;
  margin: 1rem;
  width: 100%;
  background-color: #FFFFFF;
}
.app .dashBoard .content .allTables .dashboardInvoicesTable h2, .app .dashBoard .content .allTables .dashboardContactsTable h2, .app .dashBoard .content .allTables .dashboardCompaniesTable h2 {
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  padding: 1rem;
  border-bottom: 1px solid #E0E0E0;
}
.app .dashBoard .content .allTables .dashboardInvoicesTable table, .app .dashBoard .content .allTables .dashboardContactsTable table, .app .dashBoard .content .allTables .dashboardCompaniesTable table {
  width: 90%;
}
.app .dashBoard .content .allTables .dashboardInvoicesTable table tbody tr, .app .dashBoard .content .allTables .dashboardContactsTable table tbody tr, .app .dashBoard .content .allTables .dashboardCompaniesTable table tbody tr {
  border-top: 2rem solid transparent;
  border-bottom: 2rem solid transparent;
}
.app .dashBoard .content .allTables .dashboardInvoicesTable table tbody tr th, .app .dashBoard .content .allTables .dashboardContactsTable table tbody tr th, .app .dashBoard .content .allTables .dashboardCompaniesTable table tbody tr th {
  font-size: 15px;
  font-weight: 700;
  text-align: start;
}
.app .dashBoard .content .allTables .dashboardInvoicesTable table tbody tr td, .app .dashBoard .content .allTables .dashboardContactsTable table tbody tr td, .app .dashBoard .content .allTables .dashboardCompaniesTable table tbody tr td {
  font-size: 15px;
  font-weight: 300;
  text-align: start;
}
.app .dashBoard .content .allTables .invoicesAndCompanies, .app .dashBoard .content .allTables .statsAndContacts {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.app .dashBoard .content .allTables .statsDiv {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 37px -21px rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
}
.app .dashBoard .content .allTables .statsDiv h3 {
  width: 100%;
  text-align: start;
  padding: 2rem;
  font-size: 18px;
  font-weight: 700;
}
.app .dashBoard .content .allTables .statsDiv .stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 2rem;
  width: 90%;
}
.app .dashBoard .content .allTables .statsDiv .stats div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 900;
}
.app .dashBoard .content .allTables .statsDiv .stats .invoicesCount {
  background-color: #4D4CAC;
  border-radius: 50%;
}
.app .dashBoard .content .allTables .statsDiv .stats .contactsCount {
  background-color: #9698D6;
  border-radius: 50%;
}
.app .dashBoard .content .allTables .statsDiv .stats .companiesCount {
  background-color: #FF808B;
  border-radius: 50%;
}
.app .dashBoard .content .welcomeMessage {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 50vh;
  width: 100%;
  color: #FFFFFF;
}
.app .dashBoard .content .welcomeMessage .page {
  width: 90%;
  padding-top: 2rem;
  color: #000000;
}
.app .dashBoard .content .welcomeMessage .page h2 {
  font-size: 30px;
  font-weight: 900;
}
.app .dashBoard .content .welcomeMessage .page span {
  font-size: 15px;
  font-weight: 300;
}
.app .dashBoard .content .welcomeMessage .text {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 3rem;
  bottom: 0;
  border-radius: 10px;
  background: #9698D6;
  width: 90%;
  height: 60%;
}
.app .dashBoard .content .welcomeMessage .text h2 {
  font-size: 35px;
}
.app .dashBoard .content .welcomeMessage .text span {
  font-size: 15px;
  width: 16vw;
}
.app .dashBoard .content .welcomeMessage img {
  position: absolute;
  right: 15%;
}/*# sourceMappingURL=style.css.map */